<div class="container">
    <h1>Group</h1>

    <div style="margin: auto; max-width: 600px;">
      <data-table
        [items]="modelList"
        [itemCount]="itemCount"
        (reload)="reload($event)"
        (create)="openForm($event)"
    
        [pagination]="false"
        [multiSelect]="false"
        >
        <data-table-column
          property="name"
          header="Name"
          sortable="true">
        </data-table-column>
        <data-table-column
          property="startHour"
          header="Start hour"
          sortable="true">
        </data-table-column>
        <data-table-column
          property="finishHour"
          header="Finish hour"
          sortable="true">
        </data-table-column>
        <data-table-column
          header="Actions">
          <ng-template #dataTableHeader let-item="item">
            <i>Actions</i>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
              
            <button (click)="editAction(item)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-edit"></i></button>
            <button (click)="delete(item.id)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-trash"></i></button>
            <button (click)="openDialog(item)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-tasks"></i></button>
            <button (click)="openTaskListDialog(item)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-list-alt"></i></button>
          </ng-template>
        </data-table-column>
      </data-table>

      <div *ngIf="showForm">
          <h1>New User</h1>

          <form #modelForm="ngForm">

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" [(ngModel)]="model.name" #name="ngModel" name="name" class="form-control" 
                id="name" required>
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
              </div>
            </div>

            <div class="form-group">
              <label for="start">Start Hour</label>
              <input type="text" [(ngModel)]="model.startHour" #startHour="ngModel" name="startHour" class="form-control" 
                id="startHour" required>
              <div [hidden]="startHour.valid || startHour.pristine" class="alert alert-danger">
                Start hour is required
              </div>
            </div>
       
            <div class="form-group">
              <label for="finish">Finish Hour</label>
              <input type="text" [(ngModel)]="model.finishHour" #finishHour="ngModel" name="finishHour" class="form-control" 
                id="finishHour" required>
              <div [hidden]="finishHour.valid || finishHour.pristine" class="alert alert-danger">
                Finish hour is required
              </div>
            </div>

            <button type="button" *ngIf="!isEditAction" [disabled]="!modelForm.form.valid" 
              (click)="create(); modelForm.reset();" class="btn btn-success">Create</button>
            <button type="button" *ngIf="isEditAction" [disabled]="!modelForm.form.valid" 
              (click)="edit();" class="btn btn-success">Edit</button>
            <button type="button" (click)="closeForm();" class="btn btn-default">Close</button>

          </form>
      </div>
    </div>
    
</div>