.content {
    height: 90%;
}

.scroll-container {
    height: 75%;
    overflow: auto;
}

.small-input {
    width: 10%;
}

.large-input {
    width: 85%;
}

.extra-large-input {
    width: 95%;
}

.line-comment-text {
    white-space: normal !important;
}

.task-form {
    margin-top: 5px;
}

mat-list {
    flex-grow: 1;
    height: 450px;
    overflow: auto;
}