
<h1>Groups Task </h1>
<mat-divider></mat-divider>

<mat-card class="content">
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Details">
                {{task.name}}
            </mat-tab>

            <mat-tab label="Worklogs">
                <mat-list>
                    <h3 mat-subheader></h3>
                    <div class="scroll-container">
                    <mat-list-item *ngFor="let worklog of worklogs">
                        <mat-icon mat-list-icon>arrow_forward_ios</mat-icon>
                        <h4 mat-line>{{worklog.description}}</h4>
                        <p mat-line>{{worklog.hoursWorked}} minutes | Evening</p>
                        <button (click)="deleteWorklog(worklog.id)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                    </mat-list-item>
                    </div>
                </mat-list>

                <mat-divider></mat-divider>
                <mat-divider></mat-divider>

                <form #taskForm="ngForm" class="task-form">
                    <mat-form-field class="small-input">
                        <input type="number" matInput placeholder="Time worked" [(ngModel)]="worklog.hoursWorked" 
                            name="hoursWorked">
                    </mat-form-field>
                    <mat-form-field class="large-input">
                        <textarea  matInput placeholder="Description" [(ngModel)]="worklog.description" 
                            name="description"></textarea>
                    </mat-form-field>
                    <div class="large-input">
                        <button mat-raised-button color="primary" (click)="createWorklog();">Register</button>
                        <button mat-raised-button color="default" (click)="resetWorklog();">Reset</button>
                    </div>
                </form>
            </mat-tab>

            <mat-tab label="Comments">
                <mat-list>
                    <h3 mat-subheader></h3>
                    <div class="scroll-container">
                    <mat-list-item *ngFor="let comment of comments">
                        <mat-icon mat-list-icon>add_comment</mat-icon>
                        <h4 mat-line class="line-comment-text">{{comment.text}}</h4>
                        <p mat-line>{{comment.author.group.name}}({{comment.author.name}}) | {{comment.creationDate | date:'dd-MM-yyyy HH:mm'}}</p>
                        <button (click)="deleteComment(comment.id)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-trash"></i></button>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                    </div>
                </mat-list>

                <mat-divider></mat-divider>

                <form #taskForm="ngForm" class="task-form">
                    <mat-form-field class="extra-large-input">
                        <textarea  matInput placeholder="Comment" [(ngModel)]="comment.text" 
                            name="comment"></textarea>
                    </mat-form-field>
                    <div class="large-input">
                        <button mat-raised-button color="primary" (click)="createComment();">Register</button>
                        <button mat-raised-button color="default" (click)="resetComment();">Reset</button>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>